In [ ]:
# Name (שם מלא): Gal Davidi (גל דוידי)
# ID (תעודת זהות): 206555112

# Github link:
# https://github.com/gdavidi/Projects/tree/main/Yad2%20cars

In [25]:
import re
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz # pip install python-Levenshtein, pip install fuzzywuzzy
from datetime import datetime, timedelta

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_percentage_error, r2_score,mean_squared_error,mean_absolute_error
from sklearn.model_selection import KFold
# import ppscore as pps # Might not work for you, need python verson 2.2 or lower.

import warnings
warnings.filterwarnings("ignore", category=UserWarning) # Suppress specific warning (OneHotEncoder gives this annoying warning that doesn't affect the code)

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df

,manufactor,Year,model,Hand,Gear,capacity_Engine,Engine_type,Prev_ownership,Curr_ownership,Area,City,Price,Pic_num,Cre_date,Repub_date,Description,Color,Km,Test,Supply_score
0,יונדאי,2015,i35,2,אוטומטית,1600,בנזין,פרטית,פרטית,רעננה - כפר סבא,רעננה,51000.0,2.0,11/07/2023,11/07/2023,['רכב שמור בקנאות\nמוכרת עקב קבלת רכב חברה'],כחול כהה מטאלי,144000,NaN,NaN
1,ניסאן,2018,ניסאן מיקרה,1,אוטומטית,1200,בנזין,פרטית,פרטית,מושבים בשרון,אבן יהודה,49000.0,0.0,06/04/2022,22/05/2022,['שמורה כל התוספות'],כחול בהיר,69000,NaN,NaN
2,סוזוקי,2010,סוזוקי סוויפט,1,אוטומטית,1450,בנזין,NaN,NaN,רמת,רמת,22500.0,1.0,29/10/2022,29/10/2022,['רכב במצב מתוחזק ברמה גבוהה טסט עד אפריל 2023'],NaN,145000,NaN,NaN
3,טויוטה,2016,אוריס,1,טיפטרוניק,1600,בנזין,פרטית,פרטית,נס ציונה - רחובות,רחובות,63000.0,5.0,16/05/2024,16/05/2024,['אוטו במצב חדש!! שמור בקנאות!! נהג יחיד מטופל...,אפור מטאלי,27300,NaN,NaN
4,קיה,2012,פיקנטו,1,אוטומטית,1248,בנזין,NaN,NaN,"ראשל""צ והסביבה",ראשון לציון,37000.0,1.0,13/06/2022,13/06/2022,['שמור'],NaN,70000,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,סקודה,2016,סקודה אוקטביה (2016),2,אוטומטית,"1,400",בנזין,NaN,NaN,ראש העין והסביבה,כפר קאסם,60000.0,1.0,18/07/2022,18/07/2022,['רכב שמור &lt;br/&gt;&lt;br/&gt;פירוט:&lt;br/...,NaN,180,NaN,NaN
1496,אלפא רומיאו,2013,אלפא רומיאו ג'ולייטה,4,ידנית,1400,בנזין,NaN,NaN,חיפה וחוף הכרמל,חיפה,45000.0,0.0,44791,44791,['פרטית \r\nמכונית יפיפיה ללא שום תאונות ואו ת...,NaN,160000,NaN,NaN
1497,סקודה,2014,סקודה ראפיד (2014),1,אוטומטית,"1,400",בנזין,NaN,NaN,NaN,כפר מנדא,30000.0,1.0,30/08/2022,30/08/2022,['רכב נקי גיר שילדה מנוע במצב מעולה &lt;br/&gt...,NaN,NaN,NaN,NaN
1498,ניסאן,2011,ניסאן ג'וק JUKE,3,אוטומטית,1600,בנזין,פרטית,פרטית,אשדוד - אשקלון,אשדוד,28000.0,0.0,31/08/2023,09/11/2023,"['רכב מתוחזק היטב ללא תאונות או תקלות, טסט עד ...",אפור מטאלי,118000,81,NaN
1499,הונדה,2015,CIVIC,3,אוטומטית,1798,בנזין,NaN,NaN,עכו - נהריה,נהריה,41500.0,1.0,16/09/2022,16/09/2022,"[""הונד'לה יותר מרכב היא חברה לחיים. אמינה ויצ...",NaN,163899,NaN,2951.0

### Functions I wrote and used throughout the assignment :

In [5]:
# Convert excel serial date to datetime object function
def excel_date_to_date(excel__serial_date):
	return datetime(1899, 12, 30) + timedelta(days=excel__serial_date)

# Extract the year and clean the text function
def extract_year_and_clean_text(text):
	# Regex pattern to find and remove the year (and surrounding characters)
	pattern = r'\s*\(?(\d{4})\)?,?\s*' 
	match = re.search(pattern, text)
	if match:
		year = match.group(1)  # Capture the year
		cleaned_text = re.sub(pattern, '', text)  # Remove the year and surrounding characters from the text
		return cleaned_text, year
	return text, None

# Cleaning the rows that contain years in the 'model' column by removing the year, and keeping only the model name
def clean_text_with_year(model_name):
	car_models = list(df['model'].unique())
	cleaned_model_name, year = extract_year_and_clean_text(model_name)
	if year and (model_name in car_models):
		return cleaned_model_name
	return model_name

# Finding the similarity between pairs of strings function
def find_similar_strings(strings, threshold=90):
	similar_pairs = []
	# Compare each string with every other string in the list
	for i in range(len(strings)):
		for j in range(i + 1, len(strings)):
			similarity = fuzz.ratio(strings[i], strings[j]) # Calculate similarity
			if similarity >= threshold:
				similar_pairs.append((strings[i], strings[j], similarity))
	return similar_pairs

# Print similar string values in a series function
def print_similar_string_values_in_series(series, threshold=90):
	strings = list(series.unique())
	# Finding similar strings
	similar_strings = find_similar_strings(strings, threshold)
	for pair in similar_strings:
		print(f"Pair: {pair[0]}\nand {pair[1]}\nwith similarity {pair[2]}%\n\n")
		
# Description cleaning function
def clean_description(desc):
	# Remove punctuation and non-alphabetic(english) characters
	desc = re.sub(r"[^א-ת\s]", "", desc)
	# Tokenize the text
	tokens = desc.split()
	return tokens

# Identify common meaning words function
def select_common_word(tokens):
	# Common meaning words (that logically have correlation with price)
	common_meaning_words = {'מטופל', 'חדש', 'שמור', 'מתוחזק', 'תוספות', 'מצוין', 'מעולה', 'נהדר','שמורה','ללא','מיבוא','חסכוני','מצויין','טיפול'}
	for word in tokens:
		if word in common_meaning_words:
			return word
	return 'אחר'  # If no common word is found, return 'אחר'       
		
# Cleaning the 'Description' column, selecting common meaning words, and replacing some words with synonyms (/similar words)
def description_features(df):
	df['Description'] = df['Description'].apply(clean_description)
	df['Description'] = df['Description'].apply(select_common_word)
	df['Description'] = df['Description'].replace('שמורה','שמור')
	df['Description'] = df['Description'].replace('מעולה','מצוין')
	df['Description'] = df['Description'].replace('נהדר','מצוין')
	df['Description'] = df['Description'].replace('טיפול','מטופל')
	df['Description'] = df['Description'].replace('מתוחזק','מטופל')
	df['Description'] = df['Description'].replace('מצויין','מצוין')
	  
# Feature engineering/handling for dates
def to_date(df, threshold=0.95):
	try:
		date_regex_pattern = r'^\d{2}/\d{2}/\d{4}$' # Date format: dd/mm/yyyy using regex pattern
		non_matching_rows_Cre_date = df[~(df['Cre_date'].str.contains(date_regex_pattern, regex=True))]
		non_matching_rows_Repub_date = df[~(df['Repub_date'].str.contains(date_regex_pattern, regex=True))]
		df.loc[non_matching_rows_Cre_date.index, 'Cre_date'] = df.loc[non_matching_rows_Cre_date.index, 'Cre_date'].astype('Int64').apply(excel_date_to_date).dt.strftime('%d/%m/%Y')
		df.loc[non_matching_rows_Repub_date.index, 'Repub_date'] = df.loc[non_matching_rows_Repub_date.index, 'Repub_date'].astype('Int64').apply(excel_date_to_date).dt.strftime('%d/%m/%Y')
		df['Cre_date'] = pd.to_datetime(df['Cre_date'], format="%d/%m/%Y") # Converting to datetime format
		df['Repub_date'] = pd.to_datetime(df['Repub_date'], format="%d/%m/%Y")
		# Check correlation between the two columns using each date's ordinal value 
		dates_features_df = df.copy()[['Price']]
		dates_features_df['Cre_date_ordinal'] = df['Cre_date'].apply(lambda date: date.toordinal())
		dates_features_df['Repub_date_ordinal'] = df['Repub_date'].apply(lambda date: date.toordinal())
		corr_matrix = dates_features_df[['Cre_date_ordinal', 'Repub_date_ordinal']].corr()
		if min(corr_matrix['Cre_date_ordinal']) >= threshold: # correlation score threshold
			df = df.drop(['Cre_date'], axis=1)
			dates_features_df = dates_features_df.drop(columns=['Cre_date_ordinal'])
		# --- day of the week ---
		dates_features_df['Repub_date_dayofweek'] = df['Repub_date'].dt.dayofweek
		# --- day of the month ---
		dates_features_df['Repub_date_day'] = df['Repub_date'].dt.day
		# --- month ---
		dates_features_df['Repub_date_month'] = df['Repub_date'].dt.month
		# --- year ---
		dates_features_df['Repub_date_year'] = df['Repub_date'].dt.year
		# Check PPS score between the new date features and the Price 
		# pps_matrix = pps.matrix(dates_features_df)[['x', 'y', 'ppscore']].pivot(columns='x', index='y', values='ppscore') #          <--- (Remove # before pps_matrix if you have ppscore installed)
		# --- Plot the heatmap --- (Remove # to plot the heatmap)
		# plt.figure(figsize=(12, 10))
		# sns.heatmap(pps_matrix, annot=True, cmap='viridis', cbar=True, linewidths=0.5)
		# plt.title('Predictive Power Score (PPS) Heatmap for All Features')
		# plt.xlabel('')
		# plt.ylabel('')
		# plt.yticks(rotation=0)
		# plt.show()
		# We can see that the new date features have a low predictive power score, therefore I will remove both columns Cre_date and Repub_date from the original dataframe
	except Exception:
		print("An error occured while handling the dates.")
		
# Get the season of a date function
def get_season(date):
	year = date.year
	seasons = {
		'winter': pd.date_range(start=f'01/12/{year}', end=f'31/12/{year}'),
		'winter': pd.date_range(start=f'01/01/{year}', end=f'28/02/{year}'),
		'spring': pd.date_range(start=f'01/03/{year}', end=f'31/05/{year}'),
		'summer': pd.date_range(start=f'01/06/{year}', end=f'31/08/{year}'),
		'autumn': pd.date_range(start=f'01/09/{year}', end=f'30/11/{year}'),
	}
	for season in seasons:
		if date in seasons[season]:
			return season
	return None      
		
# Cleaning the Prev_ownership column, replacing לא מוגדר, אחר with פרטית because it is pretty safe and logical to assume that only private cars are being sold on 'yad2' websites
# As well as replacing השכרה, חברה, ממשלתי with ליסינג because they all have basically the same meaning, regarding the context of the column and the prediction column
def ownership_features(df):
	df['Prev_ownership'] = df['Prev_ownership'].replace('השכרה', 'ליסינג')
	df['Prev_ownership'] = df['Prev_ownership'].replace('חברה', 'ליסינג')
	df['Prev_ownership'] = df['Prev_ownership'].replace('ממשלתי', 'ליסינג')
	df['Prev_ownership'] = df['Prev_ownership'].replace('לא מוגדר', 'פרטית')
	df['Prev_ownership'] = df['Prev_ownership'].replace('אחר', 'פרטית')
	df['Prev_ownership'] = df['Prev_ownership'].fillna(df['Prev_ownership'].mode()[0])

In [6]:
df['model'].unique()

array(['i35', 'ניסאן מיקרה', 'סוזוקי סוויפט', 'אוריס', 'פיקנטו',
       'אאודי A1', 'אימפרזה', 'ASX', '220', '525', 'מוקה', 'פורטה', ' Q3',
       'סיוויק סדאן', 'סוזוקי SX4 קרוסאובר', 'קורולה', 'גולף', 'פאסאט',
       'ספארק', 'מאזדה 3', 'ניסאן נוט', 'סול', 'V40 CC', 'לנסר ספורטבק',
       'i10', 'אאודי A3', ' A1', 'סקודה פאביה\r\n (2012)', 'אוקטביה',
       'CIVIC', 'איוניק', 'סונטה', 'i30', 'C-HR', 'מאליבו', 'ריו',
       'פוקוס', 'סקודה אוקטביה (2014)', 'X1', 'אוואו', 'סיוויק',
       'סקודה ראפיד (2015)', ' E-Class', ' S7', 'אפלנדר', 'SVX',
       'סוזוקי איגניס', 'ספייס סטאר', 'לקסוס IS300h', "גראנד, וויאג'ר",
       'C4', '2008', 'סטוניק', 'פולו', 'S60', 'אאודי RS5', "ג'אז הייבריד",
       'סוזוקי SX4', 'ג`טה', ' A4', 'אס-מקס', 'נירו', 'אינסייט',
       'רנו קליאו', '3', 'אאודי All Road', 'פאסאט CC', ' S-Class',
       'CADDY COMBI', 'אסטרה', 'XV', 'סיוויק סדאן החדשה', 'אאודי A5',
       '316', 'C3', 'סדרה 5', 'אקורד', 'i25', 'C1', 'יאריס',
       'לקסוס IS250', 'V40', 'סדרה 1', 'סקודה אוקטביה (2013)', 'סראטו',
       'מאזדה 5', 'סוזוקי סוויפט החדשה', 'מאזדה 2', '5',
       'רנו קליאו דור 4', 'קורבט', "אטראז'", 'i20', ' A3', '200', 'B4',
       "ג'טה", '308', "סיוויק האצ'בק החדשה",
       'סקודה אוקטביה ספייס\r\n (2015)', 'מוקה X',
       'סקודה פאביה\r\n (2016)', 'רנו גרנד סניק',
       'סקודה פאביה\r\n (2013)', 'זאפירה', 'אינסיגניה', '6',
       'לקסוס CT200H', 'אורלנדו', 'ניסאן אלתימה', 'סוזוקי אלטו',
       'סוזוקי קרוסאובר', '108', 'JAZZ', 'DS3', 'פריוס', 'שירוקו',
       "ניסאן ג'וק JUKE", 'XCEED', 'רנו מגאן אסטייט / גראנד טור',
       'סקודה סופרב (2013)', 'סקודה סופרב (2016)', 'ספייס',
       'סקודה אוקטביה (2015)', 'רנו פלואנס', 'ACCORD', ' SLK',
       "סיוויק האצ'בק", 'סקודה פאביה\r\n (2015)', 'אלנטרה', 'אאודי S7',
       'סוזוקי בלנו', 'טראקס', 'FR-V', 'ניסאן סנטרה', 'סיריון', "ג'אז",
       'גרנדיס', 'סקודה אוקטביה (2016)', 'סקודה סופרב (2015)', 'פרייד',
       'מאזדה 6', 'סלבריטי', 'טריוס', 'רנו פלואנס חשמלי', 'פאביה ספייס',
       '120i', 'קאונטרימן', 'אלפא רומיאו 159', 'אלפא רומיאו מיטו / MITO',
       'אקווינוקס', '208', ' A6', 'סקודה סופרב (2014)', 'חיפושית',
       'ראפיד', 'B3', 'ורסו', 'קורסה', 'ייטי', 'אאודי A6', 'אדם',
       "אלפא רומיאו ג'ולייטה", 'ג`אז', 'סוזוקי סדן', 'אאוטלנדר', 'מוסטנג',
       'לקסוס GS300', '508', 'לקסוס RC', 'סקודה סופרב (2011)', 'i30CW',
       'סקודה אוקטביה ספייס\r\n (2016)', 'ולוסטר', 'אאודי A4',
       'סקודה אוקטביה ספייס (2015)', 'קופר', ' CLK', ' A5',
       'סקודה פאביה (2012)', 'נירו EV', 'האצ`בק', ' RS5', 'קרוז',
       'סוזוקי ספלאש', 'גולף פלוס', 'סופרב', 'לקסוס IS300H',
       'ראפיד ספייסבק', 'אוקטביה קומבי', 'נירו PHEV', 'S80', 'לאונה',
       'אקליפס', 'סוניק', '307CC', 'אאוטבק', 'סקודה אוקטביה (2010)',
       'סדרה 3', 'דייהטסו טריוס', 'אודסיי', 'סקודה ייטי (2012)', 'קרניבל',
       'סקודה אוקטביה RS (2014)', 'סוזוקי סלריו', 'AX', 'פיאסטה',
       'גראנד, וויאג`ר', ' V- CLASS', 'לג`נד', 'C30', 'I-MIEV',
       'סקודה ראפיד (2014)', 'סקודה סופרב (2012)',
       'סקודה פאביה\r\n (2014)', 'סקודה רומסטר\r\n (2014)', 'ONE',
       'אאודי Q3', 'אלפא רומיאו מיטו', 'רנו קפצ`ור', 'שרמנט', 'גלאקסי',
       'ניסאן פרימרה', 'וויאג`ר', 'M1', 'גולף GTI', 'GT3000', ' R8',
       'סקודה אוקטביה (2011)', 'סיוויק סטיישן', '300C', 'אימפלה', 'ספיה',
       'קורסה החדשה', 'סקודה רומסטר\r\n (2013)', 'סקודה ראפיד (2013)',
       'סקודה פאביה ספייס (2016)', ' C-Class', 'INSIGHT', "טרג'ט", 'CX',
       'קאמרי', '5008', 'אונסיס', ' E-Class קופה / קבריולט', 'סיד', '530',
       'i40', 'רנו קליאו אסטייט', 'פאביה', '301', 'C5', '320',
       'סקודה רומסטר (2012)', 'קרוז החדשה', 'סקודה רומסטר (2015)',
       ' C-Class Taxi', '318', '2', ' C-CLASS קופה', 'מריבה',
       'חיפושית חדשה', 'קופה', 'דייהטסו סיריון', 'סיוויק הייבריד',
       'קורסיקה', 'קונקט', ' C-Class קופה', 'RCZ', 'ניסאן קווסט',
       'סקודה אוקטביה (2012)', 'אאודי S5', 'אאודי S3', 'קאנטרימן',
       'רנו 25', 'סיטיגו / Citygo', ' E- CLASS',
       'סקודה רומסטר\r\n (2015)', 'לנסר', '325', 'ניסאן מקסימה', 'one',
       'טוראן', 'ניסאן אלמרה', 'אוונסיס', 'סקודה פאביה\r\n (2011)', '523',
       'לנסר הדור החדש', '106'], dtype=object)

In [7]:
df['model'].unique()

array(['i35', 'ניסאן מיקרה', 'סוזוקי סוויפט', 'אוריס', 'פיקנטו',
       'אאודי A1', 'אימפרזה', 'ASX', '220', '525', 'מוקה', 'פורטה', ' Q3',
       'סיוויק סדאן', 'סוזוקי SX4 קרוסאובר', 'קורולה', 'גולף', 'פאסאט',
       'ספארק', 'מאזדה 3', 'ניסאן נוט', 'סול', 'V40 CC', 'לנסר ספורטבק',
       'i10', 'אאודי A3', ' A1', 'סקודה פאביה\r\n (2012)', 'אוקטביה',
       'CIVIC', 'איוניק', 'סונטה', 'i30', 'C-HR', 'מאליבו', 'ריו',
       'פוקוס', 'סקודה אוקטביה (2014)', 'X1', 'אוואו', 'סיוויק',
       'סקודה ראפיד (2015)', ' E-Class', ' S7', 'אפלנדר', 'SVX',
       'סוזוקי איגניס', 'ספייס סטאר', 'לקסוס IS300h', "גראנד, וויאג'ר",
       'C4', '2008', 'סטוניק', 'פולו', 'S60', 'אאודי RS5', "ג'אז הייבריד",
       'סוזוקי SX4', 'ג`טה', ' A4', 'אס-מקס', 'נירו', 'אינסייט',
       'רנו קליאו', '3', 'אאודי All Road', 'פאסאט CC', ' S-Class',
       'CADDY COMBI', 'אסטרה', 'XV', 'סיוויק סדאן החדשה', 'אאודי A5',
       '316', 'C3', 'סדרה 5', 'אקורד', 'i25', 'C1', 'יאריס',
       'לקסוס IS250', 'V40', 'סדרה 1', 'סקודה אוקטביה (2013)', 'סראטו',
       'מאזדה 5', 'סוזוקי סוויפט החדשה', 'מאזדה 2', '5',
       'רנו קליאו דור 4', 'קורבט', "אטראז'", 'i20', ' A3', '200', 'B4',
       "ג'טה", '308', "סיוויק האצ'בק החדשה",
       'סקודה אוקטביה ספייס\r\n (2015)', 'מוקה X',
       'סקודה פאביה\r\n (2016)', 'רנו גרנד סניק',
       'סקודה פאביה\r\n (2013)', 'זאפירה', 'אינסיגניה', '6',
       'לקסוס CT200H', 'אורלנדו', 'ניסאן אלתימה', 'סוזוקי אלטו',
       'סוזוקי קרוסאובר', '108', 'JAZZ', 'DS3', 'פריוס', 'שירוקו',
       "ניסאן ג'וק JUKE", 'XCEED', 'רנו מגאן אסטייט / גראנד טור',
       'סקודה סופרב (2013)', 'סקודה סופרב (2016)', 'ספייס',
       'סקודה אוקטביה (2015)', 'רנו פלואנס', 'ACCORD', ' SLK',
       "סיוויק האצ'בק", 'סקודה פאביה\r\n (2015)', 'אלנטרה', 'אאודי S7',
       'סוזוקי בלנו', 'טראקס', 'FR-V', 'ניסאן סנטרה', 'סיריון', "ג'אז",
       'גרנדיס', 'סקודה אוקטביה (2016)', 'סקודה סופרב (2015)', 'פרייד',
       'מאזדה 6', 'סלבריטי', 'טריוס', 'רנו פלואנס חשמלי', 'פאביה ספייס',
       '120i', 'קאונטרימן', 'אלפא רומיאו 159', 'אלפא רומיאו מיטו / MITO',
       'אקווינוקס', '208', ' A6', 'סקודה סופרב (2014)', 'חיפושית',
       'ראפיד', 'B3', 'ורסו', 'קורסה', 'ייטי', 'אאודי A6', 'אדם',
       "אלפא רומיאו ג'ולייטה", 'ג`אז', 'סוזוקי סדן', 'אאוטלנדר', 'מוסטנג',
       'לקסוס GS300', '508', 'לקסוס RC', 'סקודה סופרב (2011)', 'i30CW',
       'סקודה אוקטביה ספייס\r\n (2016)', 'ולוסטר', 'אאודי A4',
       'סקודה אוקטביה ספייס (2015)', 'קופר', ' CLK', ' A5',
       'סקודה פאביה (2012)', 'נירו EV', 'האצ`בק', ' RS5', 'קרוז',
       'סוזוקי ספלאש', 'גולף פלוס', 'סופרב', 'לקסוס IS300H',
       'ראפיד ספייסבק', 'אוקטביה קומבי', 'נירו PHEV', 'S80', 'לאונה',
       'אקליפס', 'סוניק', '307CC', 'אאוטבק', 'סקודה אוקטביה (2010)',
       'סדרה 3', 'דייהטסו טריוס', 'אודסיי', 'סקודה ייטי (2012)', 'קרניבל',
       'סקודה אוקטביה RS (2014)', 'סוזוקי סלריו', 'AX', 'פיאסטה',
       'גראנד, וויאג`ר', ' V- CLASS', 'לג`נד', 'C30', 'I-MIEV',
       'סקודה ראפיד (2014)', 'סקודה סופרב (2012)',
       'סקודה פאביה\r\n (2014)', 'סקודה רומסטר\r\n (2014)', 'ONE',
       'אאודי Q3', 'אלפא רומיאו מיטו', 'רנו קפצ`ור', 'שרמנט', 'גלאקסי',
       'ניסאן פרימרה', 'וויאג`ר', 'M1', 'גולף GTI', 'GT3000', ' R8',
       'סקודה אוקטביה (2011)', 'סיוויק סטיישן', '300C', 'אימפלה', 'ספיה',
       'קורסה החדשה', 'סקודה רומסטר\r\n (2013)', 'סקודה ראפיד (2013)',
       'סקודה פאביה ספייס (2016)', ' C-Class', 'INSIGHT', "טרג'ט", 'CX',
       'קאמרי', '5008', 'אונסיס', ' E-Class קופה / קבריולט', 'סיד', '530',
       'i40', 'רנו קליאו אסטייט', 'פאביה', '301', 'C5', '320',
       'סקודה רומסטר (2012)', 'קרוז החדשה', 'סקודה רומסטר (2015)',
       ' C-Class Taxi', '318', '2', ' C-CLASS קופה', 'מריבה',
       'חיפושית חדשה', 'קופה', 'דייהטסו סיריון', 'סיוויק הייבריד',
       'קורסיקה', 'קונקט', ' C-Class קופה', 'RCZ', 'ניסאן קווסט',
       'סקודה אוקטביה (2012)', 'אאודי S5', 'אאודי S3', 'קאנטרימן',
       'רנו 25', 'סיטיגו / Citygo', ' E- CLASS',
       'סקודה רומסטר\r\n (2015)', 'לנסר', '325', 'ניסאן מקסימה', 'one',
       'טוראן', 'ניסאן אלמרה', 'אוונסיס', 'סקודה פאביה\r\n (2011)', '523',
       'לנסר הדור החדש', '106'], dtype=object)

In [8]:
# Checking if there are any duplicates
print(df.duplicated().sum())
# There are 128 duplicates in the dataset, therefore I will remove them in the main preprocess function (while keeping only the first apperence)

128

In [9]:
# Check data types of each column
df.dtypes

manufactor          object
Year                 int64
model               object
Hand                 int64
Gear                object
capacity_Engine     object
Engine_type         object
Prev_ownership      object
Curr_ownership      object
Area                object
City                object
Price              float64
Pic_num            float64
Cre_date            object
Repub_date          object
Description         object
Color               object
Km                  object
Test                object
Supply_score       float64
dtype: object

In [22]:
# Check unique values of each column
for col in df.columns:
	print(f'{col} {df[col].unique()}\n')

manufactor ['יונדאי' 'ניסאן' 'סוזוקי' 'טויוטה' 'קיה' 'אאודי' 'סובארו' 'מיצובישי'
 'מרצדס' 'ב.מ.וו' 'אופל' 'הונדה' 'פולקסווגן' 'שברולט' 'מאזדה' 'וולוו'
 'סקודה' 'פורד' 'Lexsus' 'קרייזלר' 'סיטרואן' "פיג'ו" 'רנו' 'לקסוס'
 'דייהטסו' 'מיני' 'אלפא רומיאו']

Year [2015 2018 2010 2016 2012 2009 2003 2017 2013 2008 2014 2007 2011 2020
 2023 1988 2021 2019 1990 2004 1999 2005 2022 2006 2002 1983 1998 2000
 1995]

model ['i35' 'ניסאן מיקרה' 'סוזוקי סוויפט' 'אוריס' 'פיקנטו' 'אאודי A1' 'אימפרזה'
 'ASX' '220' '525' 'מוקה' 'פורטה' ' Q3' 'סיוויק סדאן'
 'סוזוקי SX4 קרוסאובר' 'קורולה' 'גולף' 'פאסאט' 'ספארק' 'מאזדה 3'
 'ניסאן נוט' 'סול' 'V40 CC' 'לנסר ספורטבק' 'i10' 'אאודי A3' ' A1'
 'סקודה פאביה\r\n (2012)' 'אוקטביה' 'CIVIC' 'איוניק' 'סונטה' 'i30' 'C-HR'
 'מאליבו' 'ריו' 'פוקוס' 'סקודה אוקטביה (2014)' 'X1' 'אוואו' 'סיוויק'
 'סקודה ראפיד (2015)' ' E-Class' ' S7' 'אפלנדר' 'SVX' 'סוזוקי איגניס'
 'ספייס סטאר' 'לקסוס IS300h' "גראנד, וויאג'ר" 'C4' '2008' 'סטוניק' 'פולו'
 'S60' 'אאודי RS5' "ג'אז הייבריד" 'סוזוקי SX4' 'ג`טה' ' A4' 'אס-מקס'
 'נירו' 'אינסייט' 'רנו קליאו' '3' 'אאודי All Road' 'פאסאט CC' ' S-Class'
 'CADDY COMBI' 'אסטרה' 'XV' 'סיוויק סדאן החדשה' 'אאודי A5' '316' 'C3'
 'סדרה 5' 'אקורד' 'i25' 'C1' 'יאריס' 'לקסוס IS250' 'V40' 'סדרה 1'
 'סקודה אוקטביה (2013)' 'סראטו' 'מאזדה 5' 'סוזוקי סוויפט החדשה' 'מאזדה 2'
 '5' 'רנו קליאו דור 4' 'קורבט' "אטראז'" 'i20' ' A3' '200' 'B4' "ג'טה"
 '308' "סיוויק האצ'בק החדשה" 'סקודה אוקטביה ספייס\r\n (2015)' 'מוקה X'
 'סקודה פאביה\r\n (2016)' 'רנו גרנד סניק' 'סקודה פאביה\r\n (2013)'
 'זאפירה' 'אינסיגניה' '6' 'לקסוס CT200H' 'אורלנדו' 'ניסאן אלתימה'
 'סוזוקי אלטו' 'סוזוקי קרוסאובר' '108' 'JAZZ' 'DS3' 'פריוס' 'שירוקו'
 "ניסאן ג'וק JUKE" 'XCEED' 'רנו מגאן אסטייט / גראנד טור'
 'סקודה סופרב (2013)' 'סקודה סופרב (2016)' 'ספייס' 'סקודה אוקטביה (2015)'
 'רנו פלואנס' 'ACCORD' ' SLK' "סיוויק האצ'בק" 'סקודה פאביה\r\n (2015)'
 'אלנטרה' 'אאודי S7' 'סוזוקי בלנו' 'טראקס' 'FR-V' 'ניסאן סנטרה' 'סיריון'
 "ג'אז" 'גרנדיס' 'סקודה אוקטביה (2016)' 'סקודה סופרב (2015)' 'פרייד'
 'מאזדה 6' 'סלבריטי' 'טריוס' 'רנו פלואנס חשמלי' 'פאביה ספייס' '120i'
 'קאונטרימן' 'אלפא רומיאו 159' 'אלפא רומיאו מיטו / MITO' 'אקווינוקס' '208'
 ' A6' 'סקודה סופרב (2014)' 'חיפושית' 'ראפיד' 'B3' 'ורסו' 'קורסה' 'ייטי'
 'אאודי A6' 'אדם' "אלפא רומיאו ג'ולייטה" 'ג`אז' 'סוזוקי סדן' 'אאוטלנדר'
 'מוסטנג' 'לקסוס GS300' '508' 'לקסוס RC' 'סקודה סופרב (2011)' 'i30CW'
 'סקודה אוקטביה ספייס\r\n (2016)' 'ולוסטר' 'אאודי A4'
 'סקודה אוקטביה ספייס (2015)' 'קופר' ' CLK' ' A5' 'סקודה פאביה (2012)'
 'נירו EV' 'האצ`בק' ' RS5' 'קרוז' 'סוזוקי ספלאש' 'גולף פלוס' 'סופרב'
 'לקסוס IS300H' 'ראפיד ספייסבק' 'אוקטביה קומבי' 'נירו PHEV' 'S80' 'לאונה'
 'אקליפס' 'סוניק' '307CC' 'אאוטבק' 'סקודה אוקטביה (2010)' 'סדרה 3'
 'דייהטסו טריוס' 'אודסיי' 'סקודה ייטי (2012)' 'קרניבל'
 'סקודה אוקטביה RS (2014)' 'סוזוקי סלריו' 'AX' 'פיאסטה' 'גראנד, וויאג`ר'
 ' V- CLASS' 'לג`נד' 'C30' 'I-MIEV' 'סקודה ראפיד (2014)'
 'סקודה סופרב (2012)' 'סקודה פאביה\r\n (2014)' 'סקודה רומסטר\r\n (2014)'
 'ONE' 'אאודי Q3' 'אלפא רומיאו מיטו' 'רנו קפצ`ור' 'שרמנט' 'גלאקסי'
 'ניסאן פרימרה' 'וויאג`ר' 'M1' 'גולף GTI' 'GT3000' ' R8'
 'סקודה אוקטביה (2011)' 'סיוויק סטיישן' '300C' 'אימפלה' 'ספיה'
 'קורסה החדשה' 'סקודה רומסטר\r\n (2013)' 'סקודה ראפיד (2013)'
 'סקודה פאביה ספייס (2016)' ' C-Class' 'INSIGHT' "טרג'ט" 'CX' 'קאמרי'
 '5008' 'אונסיס' ' E-Class קופה / קבריולט' 'סיד' '530' 'i40'
 'רנו קליאו אסטייט' 'פאביה' '301' 'C5' '320' 'סקודה רומסטר (2012)'
 'קרוז החדשה' 'סקודה רומסטר (2015)' ' C-Class Taxi' '318' '2'
 ' C-CLASS קופה' 'מריבה' 'חיפושית חדשה' 'קופה' 'דייהטסו סיריון'
 'סיוויק הייבריד' 'קורסיקה' 'קונקט' ' C-Class קופה' 'RCZ' 'ניסאן קווסט'
 'סקודה אוקטביה (2012)' 'אאודי S5' 'אאודי S3' 'קאנטרימן' 'רנו 25'
 'סיטיגו / Citygo' ' E- CLASS' 'סקודה רומסטר\r\n (2015)' 'לנסר' '325'
 'ניסאן מקסימה' 'one' 'טוראן' 'ניסאן אלמרה' 'אוונסיס'
 'סקודה פאביה\r\n (2011)' '523' 'לנסר הדור החדש' '106']

Hand [ 2  1  3  4  5  6  7  8  9 10]

Gear ['אוטומטית' 'טיפטרוניק' 'ידנית' 'רובוטית' 'אוטומט' nan 'לא מוגדר']

capacity_Engine ['1600' '1200' '1450' '1248' '1400' '2400' '2000' '2200' '2500' '1500'
 '1800' '1595' '1,400' '1100' '1000' '4200' '1250' '1,197' '1197' '1,500'
 '1396' '1,200' '1998' '2,400' '2800' '6500' '3600' '1199' '4500' '1300'
 '1,399' '1,100' '1568' '3000' '998' '1968' '1586' '1,800' '1290' '5500'
 nan '1994' '2,000' '12,000' '1598' '2143' '1364' '900' '1240' '1,395'
 '1590' '1798' '1490' '1242' '1997' '1498' '3500' '1461' '1999' '1591'
 '6,600' '3200' '1,470' '988' '1,364' '4000' '1,600' '1374' '1470' '1497'
 '1318' '1495' '1187' '800' '1329' '1395' '999' '1376' '1198' '1339'
 '3471' '1399' '2700' '1193' '3300' '2900' '90' '125' '1,398' '1280' '80'
 '1,390' '3800' '15000' '1459' '1368' '3,600' '13' '1,300' '1799' '1984'
 '14000' '1390' '1496' '1900' '1,796' '110' '2100' '105' '132' '1350'
 '3990' '3510' '2998' '1468' '2,600' '1298' '1284' '2359' '150' '1580']

Engine_type ['בנזין' 'דיזל' 'גז' 'היברידי' 'היבריד' 'טורבו דיזל' nan 'חשמלי']

Prev_ownership ['פרטית' nan 'ליסינג' 'מונית' 'לא מוגדר' 'חברה' 'השכרה' 'אחר' 'ממשלתי']

Curr_ownership ['פרטית' nan 'לא מוגדר' 'אחר' 'ליסינג' 'חברה' 'השכרה']

Area ['רעננה - כפר סבא' 'מושבים בשרון' 'רמת' 'נס ציונה - רחובות'
 'ראשל"צ והסביבה' 'פתח תקוה והסביבה' nan 'חיפה וחוף הכרמל' 'חולון - בת ים'
 'ירושלים והסביבה' 'מושבים' 'כרמיאל והסביבה' 'באר שבע והסביבה'
 'גליל ועמקים' 'עכו - נהריה' 'בית שמש והסביבה' 'גדרה יבנה והסביבה'
 'אשדוד - אשקלון' 'טבריה והסביבה' 'רמת גן - גבעתיים' 'קריות' 'תל אביב'
 'ראש העין והסביבה' 'עמק יזרעאל' 'נתניה והסביבה' 'בקעת אונו' 'גליל'
 'מודיעין והסביבה' 'פרדס' 'חדרה וישובי עמק חפר' 'הוד השרון והסביבה'
 'רמת השרון - הרצליה' 'חולון' 'אזור השרון והסביבה' 'מושבים במרכז'
 'קיסריה והסביבה' 'מושבים בשפלה' 'רעננה' 'טבריה' 'אילת והערבה'
 'זכרון - בנימינה' 'רמלה - לוד' 'תל' 'הוד' 'עמק' 'ירושלים'
 'יישובי השומרון' 'פרדס חנה - כרכור' 'פתח' 'מודיעין' 'רמלה' 'ראשל"צ'
 'נתניה' 'מושבים בצפון' 'ראש' 'נס' 'חיפה' 'מושבים בדרום' 'רחובות']

City ['רעננה' 'אבן יהודה' 'רמת' 'רחובות' 'ראשון לציון' 'פתח תקווה' 'ירכא'
 'בית דגן' 'חיפה' 'בת ים' 'חולון' 'ירושלים' 'עזריה' 'כרמיאל' 'קרית יערים'
 'באר שבע' 'עומר' 'ריינה' 'נהריה' 'שדרות' 'בית שמש' 'גדרה' 'דימונה'
 'נס ציונה' "בית ג'ן" 'גן יבנה' 'מגאר' 'רמת גן' 'כפר סבא' 'טירת כרמל'
 'עכו' 'קרית אתא' 'בני ברק' 'זרזיר' 'אשדוד' 'בית שאן' 'תל יצחק'
 'נוף הגליל' 'תל אביב יפו' 'ראש העין' 'עפולה' 'כפר יונה' 'באקה'
 'גבעת שמואל' 'להבים' 'יוקנעם' 'באקה א שרקיה' 'נתניה' 'ברקת' 'מגדל העמק'
 'מבשרת ציון' 'שוהם' 'פרדס' 'חדרה' 'גבעתיים' 'אשקלון' 'קרית מלאכי'
 'תל מונד' 'ראש פינה' 'באקה אל-גרביה' 'תנובות' 'צפת' 'אליכין' 'הוד השרון'
 'טירת הכרמל' 'הרצליה' 'זמר' 'מכמורת' 'קרית גת' 'גבעת אבני' 'jeruslem'
 'בית עוזיאל' 'מעלה אדומים' 'אור עקיבא' 'בוקעתא' 'עוצם' 'אודים'
 'קרית מוצקין' 'קיסריה' 'אעבלין' 'חרוצים' 'חורה' 'צור הדסה' 'שגב שלום'
 'נחלה' 'קריית ים' 'נתיבות' 'טבריה' 'עין מאהל' 'מושב מולדת' 'כפר יעבץ'
 'מרר' 'נצרת עילית' 'אילת' 'זכרון יעקב' 'בנימינה גבעת עדה' 'אופקים' 'לוד'
 'קרית ביאליק' 'קריית אתא' 'נצרת' 'עתלית' 'חיפ' 'עזריאל'
 'מודיעין מכבים רעות' 'תל' 'מתתיהו' 'מודיעין' 'קרית שמונה' 'קרית'
 'משמר השרון' 'כפר' 'ביתר עילית' 'כפר הרי"ף' 'אורה' 'Rehovot' 'שפרעם'
 'הוד' 'אלעד' 'קדרון' 'אור יהודה' 'פתח תקווה,יהוד' 'רהט' 'אלמגור' 'כאבול'
 'רמלה' 'קרית טבעון' 'אורנית' 'תל שבע' 'רמת השרון' 'כפר מנדא' 'קרית אונו'
 'פוריידיס' 'שער אפרים' 'זכריה' 'פרדס חנה כרכור' 'haifa' 'יהוד מונוסון'
 'עספיא' 'שריד' 'עץ אפרים' 'טייבה משולש' 'אילת השחר' 'אחיטוב' 'אזור'
 'אחיעזר' 'אבן' "סח'נין" 'כפר תבור' 'קריית טבעון' 'ק.אתא' 'ריחאניה'
 'עלי זהב' 'חשמונאים' 'גבעת כ"ח' 'פתח' 'יובלים' 'תל אבייב' 'יבנה' 'פוריה'
 'פ"ת' 'Rishon LeTsiyon' 'גבעתי' 'יהוד' 'עטרת' 'בית' 'חיננית' 'חופית'
 'אום אל פחם' 'טייבה' 'גני תקווה' 'בת' 'עראבה' 'גילון' 'תמרת' 'יד בנימין'
 'ערערה' 'נשר' 'דאלית אל כרמל' 'מגשימים' 'גבעתיי' 'קריית ביאליק' 'קריות'
 'ראשון' 'החותרים' 'רבבה' 'אבו סנאן' 'באר יעקב' 'מיתר' 'נחף' 'גשר הזיו'
 'נחושה' 'שערי תקווה' 'בארותיים' 'עמק חפר' 'שתולים' "מג'ד אל-כרום"
 'פתח תיקווה' 'מעלות תרשיחא' 'מזכרת בתיה' 'אילון' 'כפר חב"ד' 'חד נס'
 'צפריה' 'ראש' 'אבני איתן' 'חריש' 'רמת מגשימים' 'כפר מצר' 'רשפון'
 'גן השומרון' 'ארבל' 'מודיעין עילית' 'רכסים' 'קרית עקרון' 'כסיפה'
 'כפר כנא' 'גבע בנימין' 'בית זית' 'אבו גוש' 'ashdod' 'גבעת חיים מאוחד'
 'בת עין' "בית ג'אן" 'צור יצחק' 'קצרין' 'חד' 'נווה אור' 'ברוש' 'גבעת אלה'
 'שריגים' 'פקיעין' 'קרית ים' 'כמון' 'מעלות' 'נהרייה' 'מעגלים' 'קציר'
 'בניה' 'אומן' 'דבוריה' 'כסרא' 'אלעזר' 'כוכב יאיר' 'בית קשת' 'כפר מנחם'
 'טירה' 'Tel aviv' 'רא' 'טמרה' 'קרית ארבע' 'כפר קרע' 'גבעת זאב' 'מזכרת'
 'מתן' 'מזרעה' 'ניר צבי' 'מצפה נטופה ד.נ. גליל תחתון' 'קלנסווה' 'רמת ישי'
 'סאגור' 'קדימה צורן' 'כפר עגר' 'סלעית' 'גבעת עדה' 'פסגת זאב'
 'יקנעם עילית' 'נאעורה' 'כפר תפוח' 'Tzur Natan' 'סלמה' 'נגבה' 'מגדל'
 'יוקנעם עילית' 'נתנייה' 'כפר קאסם']

Price [51000. 49000. 22500. 63000. 37000. 60000. 95000. 90000. 70000. 45000.
 65000. 22000. 19500. 77500. 23000. 58000. 62000. 21000. 20000. 50000.
 43000. 46000. 23900. 32000. 35000. 55000. 24500. 83000. 93000. 30000.
 26000. 74000. 19000. 34000. 42000. 78000. 38000. 40000. 86000. 39290.
 25000. 52000. 24000. 38500. 82000. 76000. 41000. 88000. 33000. 73000.
 49500. 80500. 28000. 74999. 29000. 92000. 19850. 79000. 18400. 36999.
 67000. 58527. 26900. 68000. 80000. 61000. 47000. 84999. 27800. 87000.
 53000. 71000. 29900. 42900. 65900. 39000. 56000. 75000. 74500. 81000.
 79999. 36600. 59000. 94000. 61500. 30500. 66000. 45500. 25500. 48150.
 79100. 41900. 71500. 32500. 57000. 62500. 98000. 85000. 27000. 31000.
 51900. 29500. 72000. 69000. 59500. 48000. 66500. 33500. 44000. 42700.
 61900. 99000. 89000. 52500. 46990. 84500. 21900. 36000. 24900. 24999.
 84000. 59300. 26500. 69500. 47200. 19900. 74850. 47500. 43500. 91000.
 63700. 77000. 56500. 51500. 54900. 86900. 37700. 35500. 96000. 28500.
 19456. 31500. 18500. 41500. 20500. 18800. 34900. 39500. 19999. 36900.
 22900. 59900. 64000. 86500. 34500. 73500. 42500. 45645. 40500. 27500.
 68500. 92500. 99960. 63600. 50400. 30400. 23500. 91700. 65500. 53500.
 69900. 93500. 54000. 29800. 60500. 23200. 96500. 49900. 65380. 46900.
 44444. 25800. 37500. 73900. 95900. 39900. 39200. 48500. 18200. 94500.
 52950. 55500.]

Pic_num [ 2.  0.  1.  5. 16. nan  3.  7.  8.  6.  4.  9. 12. 11. 18. 14. 40. 13.
 25. 10. 15. 24. 22. 21. 17.]

Cre_date ['11/07/2023' '06/04/2022' '29/10/2022' '16/05/2024' '13/06/2022'
 '23/06/2022' '04/08/2022' '15/07/2022' '30/06/2022' '17/06/2022'
 '08/12/2022' '22/10/2023' '22/08/2022' '10/09/2022' '28/09/2022'
 '27/12/2022' '28/09/2023' '15/09/2022' '08/07/2022' '10/06/2022'
 '04/07/2022' '13/05/2024' '23/08/2022' '21/06/2023' '15/06/2022'
 '07/10/2022' '28/05/2023' '05/01/2024' '12/05/2022' '18/08/2022'
 '25/11/2023' '31/05/2022' '45170' '11/09/2022' '14/05/2023' '27/01/2022'
 '27/10/2022' '16/09/2022' '24/07/2023' '13/02/2023' '10/08/2022' '45602'
 '06/07/2022' '19/07/2022' '21/10/2022' '29/04/2022' '01/04/2022'
 '22/06/2022' '20/07/2022' '31/10/2022' '09/12/2023' '13/09/2022'
 '14/01/2024' '44779' '45474' '21/04/2022' '10/07/2022' '14/09/2022'
 '01/08/2022' '16/06/2023' '08/07/2023' '10/02/2024' '27/09/2022'
 '04/05/2022' '01/10/2023' '02/05/2023' '22/05/2022' '25/01/2023'
 '04/10/2023' '17/09/2022' '18/11/2022' '17/10/2022' '02/10/2023'
 '20/04/2022' '01/09/2022' '01/11/2022' '02/06/2023' '15/05/2023'
 '04/03/2024' '19/04/2022' '27/08/2023' '14/10/2022' '29/09/2021'
 '04/06/2024' '25/06/2022' '02/02/2023' '07/07/2022' '30/01/2024'
 '31/07/2022' '10/06/2023' '27/06/2022' '23/09/2022' '17/03/2024'
 '30/07/2022' '05/09/2022' '23/10/2022' '20/05/2022' '30/09/2022'
 '08/09/2022' '22/05/2024' '02/07/2022' '18/10/2021' '05/02/2022'
 '25/09/2022' '26/05/2022' '17/04/2023' '16/08/2023' '08/06/2024'
 '27/05/2022' '20/10/2022' '30/08/2022' '06/04/2024' '02/11/2022'
 '12/06/2023' '16/05/2023' '12/07/2023' '25/09/2023' '03/09/2023'
 '31/08/2022' '03/01/2023' '21/09/2022' '16/01/2022' '24/10/2022'
 '05/08/2022' '02/07/2023' '24/05/2022' '09/02/2022' '03/04/2024'
 '11/11/2021' '10/09/2023' '28/04/2022' '25/04/2022' '17/07/2022'
 '15/08/2022' '01/05/2023' '05/06/2023' '05/06/2022' '09/08/2022'
 '22/07/2022' '04/07/2023' '18/01/2023' '28/07/2022' '11/08/2022'
 '04/06/2022' '12/10/2022' '20/01/2024' '18/06/2022' '28/06/2023'
 '16/05/2022' '03/06/2022' '10/10/2022' '28/08/2022' '29/07/2023'
 '06/09/2024' '44669' '15/12/2023' '24/12/2021' '17/05/2023' '20/03/2023'
 '19/10/2022' '23/07/2022' '29/11/2022' '28/08/2023' '19/06/2023'
 '23/03/2022' '20/08/2022' '01/10/2022' '29/06/2023' '18/04/2023'
 '22/10/2022' '19/03/2024' '08/04/2022' '24/08/2022' '08/11/2023'
 '17/07/2023' '05/05/2022' '30/11/2023' '03/05/2022' '16/07/2022'
 '04/12/2022' '01/03/2023' '19/12/2022' '31/12/2021' '24/09/2022'
 '13/10/2022' '17/06/2023' '29/06/2022' '30/04/2022' '29/03/2022'
 '27/04/2022' '18/07/2022' '03/09/2022' '16/08/2022' '08/08/2022'
 '21/07/2022' '09/09/2022' '24/12/2022' '06/09/2022' '22/09/2022'
 '26/06/2022' '01/07/2022' '10/02/2022' '09/04/2023' '30/05/2024'
 '01/11/2023' '45404' '01/02/2024' '06/12/2023' '05/12/2023' '19/06/2022'
 '01/09/2023' '26/09/2022' '14/08/2022' '04/06/2023' '08/03/2022'
 '09/11/2023' '10/05/2023' '14/04/2023' '13/04/2022' '07/02/2024'
 '02/09/2022' '05/07/2022' '26/10/2022' '08/11/2022' '05/07/2023'
 '22/10/2021' '17/08/2022' '02/05/2022' '15/05/2022' '08/10/2022'
 '18/09/2022' '26/04/2023' '14/07/2022' '16/01/2023' '18/03/2024'
 '12/02/2023' '01/04/2024' '12/08/2022' '30/10/2021' '26/01/2022'
 '29/05/2022' '19/02/2024' '20/02/2024' '25/04/2024' '45175' '11/05/2022'
 '20/09/2022' '22/04/2024' '21/05/2022' '27/08/2022' '20/06/2022'
 '10/12/2023' '21/09/2023' '29/05/2023' '15/04/2024' '11/10/2022' '44744'
 '26/03/2022' '44715' '07/06/2023' '20/05/2024' '14/01/2023' '22/11/2021'
 '02/02/2022' '19/11/2022' '45266' '24/07/2022' '22/12/2021' '25/05/2024'
 '11/01/2022' '11/01/2024' '44570' '07/08/2022' '07/05/2023' '18/10/2022'
 '02/11/2021' '45253' '28/05/2022' '09/07/2022' '28/06/2022' '30/01/2022'
 '11/06/2023' '18/12/2022' '07/11/2023' '03/08/2022' '27/07/2022' '44772'
 '21/11/2021' '29/08/2022' '30/10/2022' '11/09/2023' '13/05/2022'
 '22/02/2022' '25/10/2023' '04/09/2023' '28/05/2024' '09/05/2022'
 '03/07/2022' '22/11/2022' '26/04/2022' '23/04/2024' '10/10/2021'
 '18/06/2023' '12/09/2022' '04/09/2022' '12/01/2023' '08/01/2022'
 '26/08/2022' '01/05/2022' '15/08/2023' '11/07/2022' '08/04/2023'
 '14/12/2022' '07/09/2022' '22/05/2023' '08/06/2023' '06/06/2023'
 '19/12/2021' '31/08/2023' '04/04/2024' '08/05/2022' '31/05/2024'
 '13/02/2022' '12/09/2023' '22/04/2022' '25/08/2022' '25/05/2022' '44810'
 '25/08/2023' '05/05/2023' '06/05/2023' '44856' '23/11/2022' '44781'
 '25/12/2023' '27/11/2023' '06/11/2022' '08/06/2022' '23/09/2023'
 '08/02/2022' '25/07/2022' '21/01/2023' '17/11/2022' '20/01/2022'
 '06/06/2022' '13/01/2022' '26/01/2024' '04/03/2023' '28/03/2024'
 '15/10/2022' '17/05/2022' '28/10/2022' '29/09/2022' '12/03/2022'
 '26/02/2023' '06/10/2022' '06/05/2022' '05/06/2024' '20/02/2022'
 '27/02/2023' '04/10/2022' '17/12/2023' '26/07/2022' '07/02/2022'
 '17/01/2022' '06/02/2022' '30/11/2022' '03/10/2022' '29/12/2021'
 '28/12/2023' '24/03/2022' '23/02/2023' '11/12/2023' '18/04/2022' '44824'
 '20/05/2023' '17/02/2023' '06/02/2023' '07/05/2022' '11/06/2022'
 '13/03/2024' '44811' '06/08/2022' '12/11/2023' '18/12/2021' '05/05/2024'
 '22/02/2023' '44872' '26/12/2023' '24/03/2024' '08/08/2023' '07/06/2022'
 '44620' '18/05/2023' '16/10/2023' '26/11/2022' '04/01/2024' '15/10/2021'
 '24/04/2024' '23/04/2023' '29/07/2022' '29/12/2022' '13/12/2021'
 '25/10/2022' '05/11/2022' '10/04/2022' '01/07/2023' '12/06/2022'
 '07/09/2023' '44821' '15/11/2021' '17/08/2023' '12/12/2023' '16/10/2022'
 '08/05/2023' '17/05/2021' '19/08/2022' '06/01/2024' '11/05/2023'
 '14/03/2023' '03/10/2023' '12/05/2024' '09/10/2022' '19/04/2023'
 '28/02/2022' '23/05/2023' '07/04/2021' '02/08/2022' '05/10/2022'
 '13/12/2023' '13/07/2021' '13/08/2022' '29/03/2023' '44861' '07/12/2022'
 '25/02/2024' '22/02/2024' '03/11/2021' '24/06/2022' '22/06/2023'
 '28/11/2022' '14/05/2022' '09/04/2022' '10/11/2023' '17/12/2022'
 '18/03/2022' '15/03/2022' '10/01/2024' '09/09/2021' '26/08/2023'
 '13/09/2023' '27/07/2023' '24/01/2023' '12/07/2022' '23/11/2021'
 '06/03/2024' '22/11/2023' '09/11/2021' '17/01/2023' '02/10/2022'
 '15/01/2023' '44857' '01/08/2023' '15/05/2024' '21/08/2022' '23/12/2022'
 '31/03/2024' '15/04/2023' '06/07/2023' '16/03/2024' '30/08/2023'
 '11/05/2024' '08/01/2024' '09/02/2024' '44795' '27/03/2022' '10/05/2022'
 '01/12/2021' '13/01/2024' '06/01/2023' '06/05/2024' '45014' '20/02/2023'
 '25/05/2023' '44661' '11/08/2023' '29/02/2024' '29/04/2021' '12/01/2022'
 '07/01/2022' '01/03/2022' '19/09/2021' '24/03/2023' '15/06/2023'
 '31/10/2021' '44848' '28/12/2021' '26/04/2024' '23/07/2023' '19/09/2022'
 '16/04/2023' '44847' '09/06/2022' '14/02/2024' '44865' '04/11/2023'
 '44678' '44768' '24/05/2024' '19/03/2023' '23/01/2023' '12/05/2023'
 '09/08/2023' '30/01/2023' '44980' '05/10/2021' '09/01/2024' '15/03/2024'
 '02/04/2023' '31/01/2024' '20/07/2023' '17/01/2024' '44823' '01/06/2023'
 '26/03/2024' '31/10/2023' '44752' '12/09/2021' '02/06/2022' '16/02/2023'
 '09/01/2022' '14/02/2023' '13/11/2022' '19/11/2023' '13/05/2023'
 '05/04/2022' '17/03/2023' '05/12/2022' '02/01/2024' '21/03/2023'
 '16/12/2022' '30/05/2022' '29/04/2024' '01/05/2024' '27/12/2021'
 '26/10/2021' '44900' '19/12/2023' '12/10/2021' '26/08/2021' '08/05/2024'
 '26/02/2024' '45071' '45291' '19/05/2023' '44791']

Repub_date ['11/07/2023' '22/05/2022' '29/10/2022' '16/05/2024' '13/06/2022'
 '23/06/2022' '03/08/2023' '15/07/2022' '30/06/2022' '17/06/2022'
 '08/12/2022' '22/10/2023' '22/08/2022' '10/09/2022' '28/09/2022'
 '28/12/2022' '28/09/2023' '15/09/2022' '08/07/2022' '10/06/2022'
 '04/07/2022' '21/05/2024' '23/08/2022' '21/06/2023' '15/06/2022'
 '07/10/2022' '28/05/2023' '05/01/2024' '12/05/2022' '18/08/2022'
 '24/11/2023' '31/05/2022' '45170' '11/09/2022' '14/05/2023' '27/01/2022'
 '27/10/2022' '16/09/2022' '24/07/2023' '13/02/2023' '10/08/2022' '45602'
 '06/07/2022' '19/07/2022' '21/10/2022' '29/04/2022' '01/04/2022'
 '22/06/2022' '20/07/2022' '31/10/2022' '09/12/2023' '13/09/2022'
 '14/01/2024' '44779' '45474' '21/04/2022' '10/07/2022' '14/09/2022'
 '01/08/2022' '16/06/2023' '08/07/2023' '10/02/2024' '27/09/2022'
 '26/03/2023' '01/10/2023' '02/05/2023' '25/01/2023' '04/10/2023'
 '17/09/2022' '17/12/2022' '17/10/2022' '02/10/2023' '20/04/2022'
 '01/09/2022' '01/11/2022' '02/06/2023' '21/05/2023' '04/03/2024'
 '19/04/2022' '27/08/2023' '14/10/2022' '29/09/2021' '04/06/2024'
 '04/08/2022' '25/06/2022' '23/05/2022' '02/02/2023' '07/07/2022'
 '15/02/2024' '31/07/2022' '10/06/2023' '27/06/2022' '23/09/2022'
 '31/03/2024' '30/07/2022' '05/09/2022' '23/10/2022' '24/05/2022'
 '30/09/2022' '08/09/2022' '22/05/2024' '02/07/2022' '14/03/2023'
 '05/02/2022' '25/09/2022' '26/05/2022' '25/04/2024' '26/09/2023'
 '16/08/2023' '16/06/2024' '27/05/2022' '20/10/2022' '30/08/2022'
 '07/04/2024' '02/11/2022' '12/06/2023' '16/05/2023' '12/07/2023'
 '25/09/2023' '10/12/2023' '31/08/2022' '23/05/2023' '21/09/2022'
 '06/02/2022' '24/10/2022' '11/03/2024' '05/08/2022' '02/07/2023'
 '05/06/2022' '22/02/2022' '03/04/2024' '11/11/2021' '28/04/2022'
 '25/04/2022' '17/07/2022' '15/08/2022' '30/04/2023' '05/06/2023'
 '09/08/2022' '22/07/2022' '03/07/2023' '18/01/2023' '28/07/2022'
 '11/08/2022' '04/06/2022' '12/10/2022' '20/01/2024' '18/06/2022'
 '28/06/2023' '16/05/2022' '03/06/2022' '28/10/2022' '28/08/2022'
 '29/07/2023' '06/09/2024' '44669' '15/12/2023' '24/12/2021' '17/05/2023'
 '21/03/2023' '19/10/2022' '23/07/2022' '29/11/2022' '28/08/2023'
 '19/06/2023' '23/03/2022' '20/08/2022' '06/10/2022' '29/06/2023'
 '18/04/2023' '22/10/2022' '19/03/2024' '08/04/2022' '24/08/2022'
 '09/11/2023' '17/07/2023' '05/05/2022' '30/11/2023' '03/05/2022'
 '16/07/2022' '04/12/2022' '01/03/2023' '23/12/2022' '31/12/2021'
 '24/09/2022' '13/10/2022' '17/06/2023' '29/06/2022' '30/04/2022'
 '29/03/2022' '27/04/2022' '18/07/2022' '03/09/2022' '16/08/2022'
 '08/08/2022' '21/07/2022' '09/09/2022' '24/12/2022' '06/09/2022'
 '22/09/2022' '26/06/2022' '01/07/2022' '10/02/2022' '09/04/2023'

In [23]:
car_models = list(df['model'].unique())
print(pd.Series(car_models).values)

['i35' 'ניסאן מיקרה' 'סוזוקי סוויפט' 'אוריס' 'פיקנטו' 'אאודי A1' 'אימפרזה'
 'ASX' '220' '525' 'מוקה' 'פורטה' ' Q3' 'סיוויק סדאן'
 'סוזוקי SX4 קרוסאובר' 'קורולה' 'גולף' 'פאסאט' 'ספארק' 'מאזדה 3'
 'ניסאן נוט' 'סול' 'V40 CC' 'לנסר ספורטבק' 'i10' 'אאודי A3' ' A1'
 'סקודה פאביה\r\n (2012)' 'אוקטביה' 'CIVIC' 'איוניק' 'סונטה' 'i30' 'C-HR'
 'מאליבו' 'ריו' 'פוקוס' 'סקודה אוקטביה (2014)' 'X1' 'אוואו' 'סיוויק'
 'סקודה ראפיד (2015)' ' E-Class' ' S7' 'אפלנדר' 'SVX' 'סוזוקי איגניס'
 'ספייס סטאר' 'לקסוס IS300h' "גראנד, וויאג'ר" 'C4' '2008' 'סטוניק' 'פולו'
 'S60' 'אאודי RS5' "ג'אז הייבריד" 'סוזוקי SX4' 'ג`טה' ' A4' 'אס-מקס'
 'נירו' 'אינסייט' 'רנו קליאו' '3' 'אאודי All Road' 'פאסאט CC' ' S-Class'
 'CADDY COMBI' 'אסטרה' 'XV' 'סיוויק סדאן החדשה' 'אאודי A5' '316' 'C3'
 'סדרה 5' 'אקורד' 'i25' 'C1' 'יאריס' 'לקסוס IS250' 'V40' 'סדרה 1'
 'סקודה אוקטביה (2013)' 'סראטו' 'מאזדה 5' 'סוזוקי סוויפט החדשה' 'מאזדה 2'
 '5' 'רנו קליאו דור 4' 'קורבט' "אטראז'" 'i20' ' A3' '200' 'B4' "ג'טה"
 '308' "סיוויק האצ'בק החדשה" 'סקודה אוקטביה ספייס\r\n (2015)' 'מוקה X'
 'סקודה פאביה\r\n (2016)' 'רנו גרנד סניק' 'סקודה פאביה\r\n (2013)'
 'זאפירה' 'אינסיגניה' '6' 'לקסוס CT200H' 'אורלנדו' 'ניסאן אלתימה'
 'סוזוקי אלטו' 'סוזוקי קרוסאובר' '108' 'JAZZ' 'DS3' 'פריוס' 'שירוקו'
 "ניסאן ג'וק JUKE" 'XCEED' 'רנו מגאן אסטייט / גראנד טור'
 'סקודה סופרב (2013)' 'סקודה סופרב (2016)' 'ספייס' 'סקודה אוקטביה (2015)'
 'רנו פלואנס' 'ACCORD' ' SLK' "סיוויק האצ'בק" 'סקודה פאביה\r\n (2015)'
 'אלנטרה' 'אאודי S7' 'סוזוקי בלנו' 'טראקס' 'FR-V' 'ניסאן סנטרה' 'סיריון'
 "ג'אז" 'גרנדיס' 'סקודה אוקטביה (2016)' 'סקודה סופרב (2015)' 'פרייד'
 'מאזדה 6' 'סלבריטי' 'טריוס' 'רנו פלואנס חשמלי' 'פאביה ספייס' '120i'
 'קאונטרימן' 'אלפא רומיאו 159' 'אלפא רומיאו מיטו / MITO' 'אקווינוקס' '208'
 ' A6' 'סקודה סופרב (2014)' 'חיפושית' 'ראפיד' 'B3' 'ורסו' 'קורסה' 'ייטי'
 'אאודי A6' 'אדם' "אלפא רומיאו ג'ולייטה" 'ג`אז' 'סוזוקי סדן' 'אאוטלנדר'
 'מוסטנג' 'לקסוס GS300' '508' 'לקסוס RC' 'סקודה סופרב (2011)' 'i30CW'
 'סקודה אוקטביה ספייס\r\n (2016)' 'ולוסטר' 'אאודי A4'
 'סקודה אוקטביה ספייס (2015)' 'קופר' ' CLK' ' A5' 'סקודה פאביה (2012)'
 'נירו EV' 'האצ`בק' ' RS5' 'קרוז' 'סוזוקי ספלאש' 'גולף פלוס' 'סופרב'
 'לקסוס IS300H' 'ראפיד ספייסבק' 'אוקטביה קומבי' 'נירו PHEV' 'S80' 'לאונה'
 'אקליפס' 'סוניק' '307CC' 'אאוטבק' 'סקודה אוקטביה (2010)' 'סדרה 3'
 'דייהטסו טריוס' 'אודסיי' 'סקודה ייטי (2012)' 'קרניבל'
 'סקודה אוקטביה RS (2014)' 'סוזוקי סלריו' 'AX' 'פיאסטה' 'גראנד, וויאג`ר'
 ' V- CLASS' 'לג`נד' 'C30' 'I-MIEV' 'סקודה ראפיד (2014)'
 'סקודה סופרב (2012)' 'סקודה פאביה\r\n (2014)' 'סקודה רומסטר\r\n (2014)'
 'ONE' 'אאודי Q3' 'אלפא רומיאו מיטו' 'רנו קפצ`ור' 'שרמנט' 'גלאקסי'
 'ניסאן פרימרה' 'וויאג`ר' 'M1' 'גולף GTI' 'GT3000' ' R8'
 'סקודה אוקטביה (2011)' 'סיוויק סטיישן' '300C' 'אימפלה' 'ספיה'
 'קורסה החדשה' 'סקודה רומסטר\r\n (2013)' 'סקודה ראפיד (2013)'
 'סקודה פאביה ספייס (2016)' ' C-Class' 'INSIGHT' "טרג'ט" 'CX' 'קאמרי'
 '5008' 'אונסיס' ' E-Class קופה / קבריולט' 'סיד' '530' 'i40'
 'רנו קליאו אסטייט' 'פאביה' '301' 'C5' '320' 'סקודה רומסטר (2012)'
 'קרוז החדשה' 'סקודה רומסטר (2015)' ' C-Class Taxi' '318' '2'
 ' C-CLASS קופה' 'מריבה' 'חיפושית חדשה' 'קופה' 'דייהטסו סיריון'
 'סיוויק הייבריד' 'קורסיקה' 'קונקט' ' C-Class קופה' 'RCZ' 'ניסאן קווסט'
 'סקודה אוקטביה (2012)' 'אאודי S5' 'אאודי S3' 'קאנטרימן' 'רנו 25'
 'סיטיגו / Citygo' ' E- CLASS' 'סקודה רומסטר\r\n (2015)' 'לנסר' '325'
 'ניסאן מקסימה' 'one' 'טוראן' 'ניסאן אלמרה' 'אוונסיס'
 'סקודה פאביה\r\n (2011)' '523' 'לנסר הדור החדש' '106']

In [24]:
models_with_year = []
years = []
# Extacting rows that their value in column 'model' contains a year 
for model in car_models:
	cleaned_text, year = extract_year_and_clean_text(model)
	if year:
		models_with_year.append(model)
		years.append(year)
	continue
print(pd.Series(years).values) # Checking if my code works correctly
# There is an outlier in the years, '5008' isn't a year, it's probably a model name that had the same format as the years, so my regax pattern extracted it as well.
# I will go back to the code above where I see the output of pd.Series(car_models).values and try to recognize more outliers
# GT3000, 5008, 2008 are all outliers(2008 is 'Peugeot 2008', etc...), therefore I will remove them further down in the code (in the main preprocess function)
len(years) # All this work to fix just 37 rows :-|  (37 minus 3 outliers = 34 rows to be precise)

# Notice: I will clean the rows that contain years in the 'model' in the main preprocess function

['2012' '2014' '2015' '2008' '2013' '2015' '2016' '2013' '2013' '2016'
 '2015' '2015' '2016' '2015' '2014' '2011' '2016' '2015' '2012' '2010'
 '2012' '2014' '2014' '2012' '2014' '2014' '3000' '2011' '2013' '2013'
 '2016' '5008' '2012' '2015' '2012' '2015' '2011']

37

In [13]:
# Checking if Prev_ownership and Curr_ownership have similar values, so I could remove one of them
curr_prev_similir_num = len(df.loc[df['Prev_ownership'] == df['Curr_ownership']]) # 590 rows have the same value in both columns (not including missing values!)
prev_nan_num = df[['Prev_ownership']].isnull().sum().iloc[0] # 729 rows have missing values in Prev_ownership 
curr_nan_num = df[['Curr_ownership']].isnull().sum().iloc[0] # 728 rows have missing values in Curr_ownership
print(f'''There are {curr_prev_similir_num + curr_nan_num} rows that have the same value in both columns (including missing values)
out of {len(df)}, thats {(curr_prev_similir_num + curr_nan_num)/len(df):.2f}% !
Therefore, I will be removing the Curr_ownership column (in the main preprocess function)''')

There are 1318 rows that have the same value in both columns (including missing values)
out of 1500, thats 0.88% !
Therefore, I will be removing the Curr_ownership column (in the main preprocess function)

# Pre Proccesing Function:

In [18]:
df = pd.read_csv("dataset.csv") 
# NOTICE: !* Run this cell again everytime you want to re-run prepare_data() function, running it multiple consecutive times without re-reading the dataset will cause errors *!

In [19]:
def prepare_data(df):
    
	# Remove duplicates
	df = df.drop_duplicates(keep='first').reset_index(drop=True)

	# Remove white spaces from all string columns
	string_columns = df.select_dtypes(include=['object']).columns
	for col in string_columns: 
		df[col] = df[col].str.strip().str.replace(r'[\r\n\t]', '', regex=True) 

	# Remove columns that...
	df = df.drop(['Test', 'Supply_score'], axis=1) # Removed due to having too many missing values
	df = df.drop(['Color', 'Area', 'City', 'Pic_num'], axis=1) # Removed due to not having any 'logical' meaning correlation with the price
	df = df.drop(['Curr_ownership'], axis=1) # Removed because it shares 0.88% of the same values with Curr_ownership
	df = df.dropna(how='any', subset=['Year', 'model', 'manufactor', 'Gear']) # Removed rows with missing values in these columns because they are important for the model

	df['manufactor'] = df['manufactor'].replace('Lexsus', 'לקסוס') 
	df['Gear'] = df['Gear'].replace('אוטומטי', 'אוטומטית')

	df['capacity_Engine'] = df['capacity_Engine'].str.replace(',','').astype('Int64')
	df['capacity_Engine'] = df['capacity_Engine'].fillna(df['capacity_Engine'].median().astype('int64')).astype('int64')
		
	df['Km'] = df['Km'].str.replace(',','').astype('Int64')
	df['Km'] = df['Km'].fillna(df['Km'].median().astype('int64')).astype('int64')
	df = df[df['Km'] < 400000].reset_index(drop=True) # Removing outliers (Car that drove more than 400,000 km shouldn't drive again! All the more so sell it)

	df['Engine_type'] = df['Engine_type'].replace('היבריד','היברידי')
	df['Engine_type'] = df['Engine_type'].replace('לא מוגדר', np.nan)
	df['Engine_type'] = df['Engine_type'].fillna(df['Engine_type'].mode()[0])

	to_date(df) # Cleaning invalid dates and changing all values type to datetime 
	ownership_features(df) # Explaination in the function itself (at the beggining of the code)
	description_features(df) # Explaination in the function itself (at the beggining of the code)

	# Creating new column named 'Season' that contains the season of each date in 'Repub_date' column, thinking it might hold some correlation with the price. In any case, it's better than having useless dates
	df['Season'] = df['Repub_date'].apply(get_season)
	df['Season'] = df['Season'].fillna(df['Season'].mode()[0])

	df = df.drop(['Cre_date', 'Repub_date'], axis=1) # Removed due to having low predictive power score with Price, and creatingg Season column instead (feature engineering)

	# Cleaning the rows that contain years in the 'model' column by removing the year, and keeping only the model name
	car_models = list(df['model'].unique())
	car_models.remove('GT3000')
	car_models.remove('5008')
	car_models.remove('2008')
	df['model'] = df['model'].apply(lambda model_name: extract_year_and_clean_text(model_name)[0] if extract_year_and_clean_text(model_name)[1] and (model_name in car_models) else model_name)
 
 
 # ---------------------------------------------------------------------------------------------- Model Buiilding Section ----------------------------------------------------------------------------------------------
 
	categorical_features = ['manufactor', 'model', 'Gear', 'Engine_type', 'Prev_ownership','Description', 'Season']
	numerical_features = ['Year', 'capacity_Engine', 'Hand', 'Km']
	all_x_columns = [col for col in df.columns if col in categorical_features or col in numerical_features]

	# Split the data into train and test sets
	X = df[all_x_columns]
	y = df['Price']

	# Preprocessing for numerical and categorical data
	numerical_transformer = StandardScaler()
	categorical_transformer = OneHotEncoder(handle_unknown='ignore', drop='first') # dropping the first column for each feature to avoid multicollinearity

	# Combined preprocessing for numerical and categorical features
	preprocessor = ColumnTransformer(
		transformers=[
			('num', numerical_transformer, numerical_features),
			('cat', categorical_transformer, categorical_features)
		])

	# Defining the model
	model = ElasticNet(random_state=42)

	# Creating a pipeline with the preprocessor and the model
	pipeline = Pipeline(steps=[('preprocessor', preprocessor),
							('model', model)])

	# Defining hyperparameters to tune, as part of finding the most suitable ones
	param_grid = {'model__alpha': [0.1, 1.0, 10.0]
				,'model__l1_ratio': [0.1, 0.5, 1]}

	cv = KFold(n_splits=10, shuffle=True, random_state=42)

	# Use GridSearchCV to search for the best hyperparameters
	model_wbest_params = GridSearchCV(pipeline, param_grid, cv=cv, scoring='neg_root_mean_squared_error', n_jobs=-1)
	model_wbest_params.fit(X, y)
 
	# Therefore, I will now set alpha and l1 ratio to the ones I found
	best_model = model_wbest_params.best_estimator_
	y_pred = best_model.predict(X) # Predict only transforms X_test, not fit_transform/fit X_train (regarding the applyance of StandardScaler, OneHotEncoder, etc... on the Test set) 

	# Get feature names after preprocessing
	onehot_columns = best_model.named_steps['preprocessor'].named_transformers_['cat'].get_feature_names_out(categorical_features) # Getting the onehot columns names
	all_columns_names = np.concatenate([numerical_features, onehot_columns]) # Combining the numerical features with the onehot columns names

	# --- Evaluate the model ---
	mae = mean_absolute_error(y, y_pred)
	mape = mean_absolute_percentage_error(y, y_pred)
	r2 = r2_score(y, y_pred)
	rmse = np.sqrt(mean_squared_error(y, y_pred))
 
	print(f'Mean Absolute Error: {mae}') # The average of the absolute differences between predictions and actual values, lower is better
	print(f'Mean Absolute Percentage Error: {mape}') # The average of the absolute percentage differences between predictions and actual values, lower is better
	print(f'R² Score: {r2}') # The proportion of the variance in the dependent variable that is predictable from the independent variable, higher is better
	print(f'Root Mean Squared Error: {rmse}') # The square root of the average of the squared differences between predictions and actual values, lower is better

	# --- Top 5 features ---
	model_coefficients = best_model.named_steps['model'].coef_ # Getting the coefficients of the model
	coef_df = pd.DataFrame({'Features': all_columns_names, 'Coefficient': model_coefficients}) # Creating a dataframe to hold the feature names and their coefficients, for easier sorting

	# Aggregating the coefficients of the one-hot encoded features by their prefix
	coef_df['Prefix'] = coef_df['Features'].apply(lambda x: re.split('_', x, 1)[0] if '_' in x else x)
	aggregated_coef_df = coef_df.groupby('Prefix').agg({'Coefficient': 'sum', 'Features': 'count'}).reset_index()

	# Combine numerical and aggregated categorical features
	numerical_coef_df = coef_df[coef_df['Prefix'].isin(numerical_features)]
	aggregated_coef_df = pd.concat([numerical_coef_df, aggregated_coef_df[~aggregated_coef_df['Prefix'].isin(numerical_features)]])

	# Sort by absolute value of coefficients
	aggregated_coef_df['Abs_Coefficient'] = aggregated_coef_df['Coefficient'].abs()
	aggregated_coef_df = aggregated_coef_df.sort_values(by='Abs_Coefficient', ascending=False)
	aggregated_coef_df['Feature'] = aggregated_coef_df['Prefix']
	top_5_features = aggregated_coef_df.head(5)[['Feature', 'Coefficient']]
	top_5_features['Effect'] = top_5_features['Coefficient'].apply(lambda x: 'Positive' if x > 0 else 'Negative')
	top_5_features.set_index('Feature', inplace=True)
	print(f"\n{top_5_features}")

# Main 

#### Run the line below on your data to see output

In [20]:
prepare_data(df)

Mean Absolute Error: 7091.318841397638
Mean Absolute Percentage Error: 0.16839546299675717
R² Score: 0.8200940185253495
Root Mean Squared Error: 9430.916494417039

              Coefficient    Effect
Feature
model       434799.290523  Positive
manufactor  -57103.484904  Negative
Year         16666.154460  Positive
Prev        -15394.143926  Negative
Gear          7537.271899  Positive

#### End of the code